.login--tv {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 2px;
  border-radius: 25px;
  border: solid #e27d60 4px;
  background: white;
  padding: 40% 20%;
  height: fit-content;
}
