

@font-face {
    font-family: "Bold Itlic";   /*Can be any text*/
    src: local("PTSans-BoldItalic"),
      url("../../media/PTSans-BoldItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Bold-Italic";   /*Can be any text*/
    src: local("PTSans-BoldItalic"),
      url("../../media/PTSans-BoldItalic.ttf") format("truetype");
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: baseline;
  }
  
  li {
    font-size: 1.25rem;
    font-family: "Bold-Italic";  
  }
  
  .navBar {
    position: fixed; 
    color: rgb(0, 0, 0);
    padding: 5% 5% 0 5%;
    width: 100%;
    z-index: 1;
}

  .container {
    display: flex; 
    flex-direction: column; 
    align-items: stretch;
    height: 100%; 
    background: transparent;
  }

  .line {
    display: flex; 
    width: 100%; 
    border-width: 2.5px;
    border-style: solid; 
    border-color: #e27d60;
    align-self: flex-end;
  }

  .navBar button {
    /* background: #E27D60;
    border-radius: 20rem;
    border: 2px solid white; */
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    padding-bottom: 0; 
    margin-left: 1rem;
  }
  
  .navBar button:hover {
    color: white;
    cursor: pointer;
  }
  
  .brand {
    cursor: pointer;
    font-size: 2rem;
  }
  
  