@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 2rem;
  margin: 1rem;
  padding: 1rem 1rem
  
  
}

.calendar-and-form-container{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
  width: 100vw;
}

.calendar-container{
  display: flex; 
  justify-content: flex-start;
}

.form-container{
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 30%;
}

.form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.title{
  font-size: 2rem;
  padding-bottom: 3rem;
}


.calendar-and-button-container{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.toast{
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
}

.align-buttons{
  display: flex; 
  align-items: center;
  justify-content: space-around;
  width: 50%;
  padding: 8rem;
}

.vertical-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.pto{
  display: flex; 
  justify-content: space-around;
}

.button-containter-manager{
  display: flex; 
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
/* .toast-message{
  background: rgb(81, 81, 126);
    color: #fff;
} */

.align-buttons-horizontal{
  display: flex; 
  justify-content: space-between;
  padding-top: 2rem;
}

.buttons-horizontal{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.flex-for-table{
  display: flex;
  justify-content: center;
  align-items: center;
}