@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 2rem;
  margin: 1rem;
  padding: 1rem 1rem
  
  
}

.calendar-and-form-container{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
  width: 100vw;
}

.calendar-container{
  display: flex; 
  justify-content: flex-start;
}

.form-container{
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 30%;
}

.form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.title{
  font-size: 2rem;
  padding-bottom: 3rem;
}


.calendar-and-button-container{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.toast{
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
}

.align-buttons{
  display: flex; 
  align-items: center;
  justify-content: space-around;
  width: 50%;
  padding: 8rem;
}

.vertical-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.pto{
  display: flex; 
  justify-content: space-around;
}

.button-containter-manager{
  display: flex; 
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
/* .toast-message{
  background: rgb(81, 81, 126);
    color: #fff;
} */

.align-buttons-horizontal{
  display: flex; 
  justify-content: space-between;
  padding-top: 2rem;
}

.buttons-horizontal{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.flex-for-table{
  display: flex;
  justify-content: center;
  align-items: center;

}

.flex-for-add-staff{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  width: 60%;
}
#form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-content: center;
  row-gap: 1rem;
  justify-content: center;
  margin-bottom: 10rem;
  padding: 2rem;
  
}



.label-columns{
  display: flex;

 grid-column: 1/4;
 grid-row: 1;
}

/* .table-form{
  display: flex; 
  justify-content: space-around;
  flex-direction: column;
  
} */
.buttons-table{
  display: flex; 
  justify-content: center;
  gap: 2rem;
  
}
.input-for-form{
  grid-column: 1/4;
  grid-row: 2;
  display: flex;
  padding: .5rem;
  margin: .5rem;
  max-width: 8rem;
}

.buttons-vertical-close{
    display: flex; 
    /* justify-content: baseline; */
    align-items: baseline;
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
}

.form-button{
  grid-column: 4;
  grid-row: 3;
}

.input-form{
  display: flex;
  padding-top: .5rem;
  padding-bottom: .5rem;
  max-width: 4rem;
  text-align: center;
}


.input-form-text{
  display: flex;
  padding-top: .5rem;
  padding-bottom: .5rem;
  max-width: 8rem;
  text-align: center;
}

.tenure-form{
  display: flex; 
  justify-content: flex-end;
}
.settings-container{
  display: flex; 
  width: 80%; 
}


.title1{
  grid-column: 1;
  grid-row: 1/5;
}
.title2{
  grid-column: 2;
  grid-row: 1/5;
}
.column1{
  display: flex; 
  flex-direction: column;
  padding-top: 2rem;
  grid-column: 1;
  grid-row: 2/5;

}
.column2{
  display: flex; 
  flex-direction: column;
  padding-top: 2rem;
  grid-column: 2;
  grid-row: 2/5;

}
.update-forms1{
  display: flex; 
  flex-direction: column;
  padding-top: 2rem;
  grid-column: 2;
  grid-row: 2/5;
}

.input-for-update{
  width: 6rem;
  margin: 1rem;
  
}

.input-for-new{
  display: flex;
  margin: auto;
  width:6rem;
  
}

.update-pto-form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-content: center;
  align-items: center;
  row-gap: 2rem;
  justify-content: center;
  padding: 2rem;
} 


.new-pto-form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-content: center;
  align-items: center;
  row-gap: 2rem;
  padding: 2rem;
  justify-content: center;
  text-align: center;
} 


.onSubmit{
  padding-top: 2rem;
  grid-column: 1/2;
  justify-content: center;
}

.button-container-post{
  display: flex; 
  margin: auto; 
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  width: 70%;;
}
