
@import url('https://fonts.google.com/share?selection.family=PT%20Sans:ital,wght@0,400;1,400;1,700%7CPermanent%20Marker%7CQuicksand:wght@300');


@font-face {
  font-family: "Bold Itlic";   /*Can be any text*/
  src: local("PTSans-BoldItalic"),
    url("./media/PTSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans";   /*Can be any text*/
  src: local("PTSans-Regular"),
    url("./media/PTSans-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    height: 100vh;
}
    code {
        font-family: 'PTSans';
      }